.create-hoodie-container{
    /* display: flex; */
        transition: .3s ease-in-out all;
}

/* .color-picker{
    position: absolute;
    z-index: 5;
    top: 21%;
    left: 100px;
} */

.color-picker{
    position: absolute;
    z-index: 5;
    bottom: 5%;
    width: 50px;
    right: 120px;
    transition: .3s ease-in-out all;
}

.color-picker .react-colorful {
    width: 100px;
    height: 100px;
    transition: .3s ease-in-out all;
    border-radius: 50%;
}

.color-picker .react-colorful:hover {
    width: 150px;
    height: 150px;
    cursor: pointer;
}



.color-picker-icon:hover {
   transform: scale(1.15);
   cursor: pointer;
}

.dalle-container{
    position: absolute;
    top: 20%;
    left: 25px;
    background-color: rgba(255, 255, 255, .5);
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: .3s ease-in-out all;
    max-width: 300px;
}

.dalle-container:hover {
    /* width: 300px; */
    transform: scale(1.15);
}

.dalle-container img {
    max-width: 100%;
}

.dalle-container-small {
    width: 300px;
}

.size-transition {
    transition: all 0.3s ease-in-out;
}

.create-hoodie-button-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.dalle-input {
    /* border-radius: 3rem; */
    /* all: initial; */
    border: 1px solid black;
    height: 50px;


}