.orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, .6);
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    width: 80%;
    /* border: 2px solid red; */
    /* height: 150px; */
    transition: all .25s ease-in-out;
    flex: 1 ;
}

.order:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid black;
    cursor: pointer;
}

.order-id{
    font-size: 12px;
}

.order img {
    max-width: 100px;
}

.order-details {
    display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 150px;
justify-content: center;

}

.order-details img {
    width: 50px;
    /* width: 100%; */
   
}