@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Poppins:ital,wght@0,100;0,600;0,700;1,100;1,600;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(-45deg, #fcf6e6, #4e96ed, rgb(4, 208, 241), #0000fd);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: 'Inknut Antiqua', serif;
}

a {
    color: black;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.button-small {
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid black;
    height: 30px;
    cursor: pointer;
}

.button-small:hover{
        background-color: rgba(255, 255, 255, 1);
}


.button-large {
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid black;
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-size: 25px;
    transition: .3s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.button-large:hover {
    background-color: rgba(4, 208, 241, .5);
    transform: scale(1.1)
}